@import url('./theme.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   font-family: 'Montserrat', sans-serif;
    
}

body{ 
background-color: rgb(228, 228, 228);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}

main > div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--azul1);
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    min-height: 500px;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

main > div > h2 {

    color: var(--azul1); 
    margin-bottom: 0; 
}

img{
    padding: 15px;
    width: 250px;
    height: 250px;
    height: auto;
}

.titulo{
    text-align: center;
    margin: 20px 0;
    color: var(--azul2);
    font-weight: 200;
    font-size: 100px;
}


.btn1{

    justify-content: center;
    align-items: center;
    background-color: var(--verde1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn1:hover{
    background-color: var(--verde3);
    transition: 0.3s;
}